@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.card-background{
    background-color: #a4e7e7;
    width: 620px;
    height: 700px;
}
.buton{
    background-color: #5d4cf8;
    border-radius: 5px;
}