#background{
    background-color: #bbbbbb;
}

.img{
    border-radius: 10px;
}
.card-background{
    background-color: #d7fcfc;
    width: 620px;
    height: 700px;
    border-radius: 10px;
}
/*/////////// buton////////// */

.buton{
    background-color: #887cf1;
    border-radius: 5px;
    color: #fcfcfc;
}